<div class=" container">
    <div class="row">
        <div class="col-5 mx-auto">
           <h3 class="bg-secondary text-white p-3"> {{getName()}} 's todo list</h3>
           <div class="input-group mb-3">
            <input #txtItem type="text" class="form-control" (keyup.enter)="addItem(txtItem.value)">
            <!-- (blur)="addItem(txtItem.value)"  event in dışında biryere tıklayınca işlemi gerçekleştirir.-->
            <button class="btn btn-outline-primary" (click)="addItem(txtItem.value); txtItem.value=''">Add</button>
           </div>
           {{message}}
           <div class="form-check mb-3">
            <input  type="checkbox" class="form-check-input" name="" id="displayAll">
            <label for="displayAll" class="form-check-label">Hepsini göster</label>
           </div>

           <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Action</th>
                    
                 </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of getItems(); let i = index;">
                <th>{{i+1}}</th>
                    <th>{{item.description}}</th>
                    <th>{{item.action}}</th>
              </tr> 
            </tbody>
           </table>
        </div>
    </div>
</div>